@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #f0f2f5;
}

.search-by {
  min-width: 110px;
  width: unset !important;
}

.candidate-card .ant-card-body {
  padding: 16px;
}

.candidate-card:hover {
  transform: translateY(-2px);
}

.ant-form-horizontal .ant-form-item-label {
  display: flex;
}
